
<div class="container">

	<form action="/answer" method="get">
		<label for="question">Ask your coach anything</label>
		<input id="question" type="text" name="question" placeholder="Julien...">
		<input class ="btn-blue" type="submit" value="Ask!">
	</form> 

</div>